{% extends 'patient/base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block content %}

    <div class="container min-vh-100 bg-dark d-flex align-items-center justify-content-center mb-5">
        <form method="post" class="bg-light p-5">{% csrf_token %}
            <p class="lead">Update Label</p>
            <div class="mb-3">
            <div id="emailHelp" class="form-text text-light">We'll never share your email with anyone else.</div>
                <label for="label" class="form-label">Label</label>
                {% render_field form.label class+="form-control" type="text" name="label" required="required" %}
                <!-- <input type="text" class="form-control" id="label"> -->
            </div>
            <div class="mb-3">
                <label for="value" class="form-label">Value</label>
                {% render_field form.value class+="form-control" type="number" name="value" required="required" %}
                <!-- <input type="number" class="form-control" id="value"> -->
            </div>
            <div class="mb-3">
                <label for="unit" class="form-label">Unit</label>
                {% render_field form.unit class+="form-control" type="text" name="unit" required="required" %}
                <!-- <input type="text" class="form-control" id="unit"> -->
            </div>
            <button type="submit" class="btn btn-primary">Update</button>
        </form>
    </div>

{% endblock content %}